form {
    display: flex;
    align-items: center;
    gap: 10px;
}
input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    border: 2px solid #555;
    outline: transparent;
    background: rgba(0,0,0,.3);
    color: #f7f7f7;
}
input::placeholder {
    color: #dadada;
}
button {
    align-self: stretch;
    width: 100px;
    border: 0;
    border-radius: 5px;
    background: rgb(106, 106, 231);
    cursor: pointer;
    font-size: 19px;
    color: #fff;
}