.fourty-four-hft {
    margin-top: 50px;
    color: #fff;
}
.fourty-four-hft__header {
    margin-bottom: 15px;
}
.fourty-four-hft__title {
    max-width: 250px;
    padding: 10px;
    background: rgba(0,0,0,.5);
    font-size: 1.25rem;
}
.fourty-four-hft__list {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}
.fourty-four-hft__list::-webkit-scrollbar {
    width: 15px;
    height: 10px;
    border-radius: 30px;
}   
    /* Track */
.fourty-four-hft__list::-webkit-scrollbar-track {
    background: hsl(0, 5%, 90%);
     
}
    /* Handle */
.fourty-four-hft__list::-webkit-scrollbar-thumb {
    background: hsl(0, 5%, 70%);
    width: 20px;
    border-radius: 5px;
} 